      /* Todo */  
.tecnicastMDEMtodo{        
    height: 1508px;
    padding-top: 150px;
    margin-left: 70px;
    margin-right: 70px;
    text-align: left;
}
      /* Informacion principal del tipo de tecnica */ 
.tecnicasBARRinfo p{      
    font-size: 20px;
    padding-top: 10px;
}
       /* Imagenes */ 
.personajestecnicas1{      
    width: 300px;
    transform: translateX(175px) translateY(91px);
}
.personajestecnicas2{     
    width: 300px;
    transform: translateX(-125px) translateY(311px);
}
.personajestecnicas3{      
    width: 300px;
    transform: translateX(175px) translateY(359px);
}
.personajestecnicas4{     
    width: 300px; 
    transform: translateX(-125px) translateY(579px);
}
.personajestecnicas5{     
    width: 300px;
    height: 169px; 
    transform: translateX(175px) translateY(625px);
}
      /* Lineas laterales (A, B, C y D) */
.tecnicasMDEMlineas{
    position: relative;   
      width: 100%;
      overflow: visible; 
}
      /* Lineas laterales (A, B, C y D) por separado */
.blue-line-subtopA{
      height: 20px;
      background-color: #6205b9;
      position: absolute;
      top: 180px;
      left: 88px;
      width: 85%; 
      z-index: 1000;
}
.blue-line-subtopB{
      height: 1120px;
      width: 20px;
      background-color: #6205b9;
      position: absolute; 
      top: 180px;
      left: 85px;
      z-index: 1000;
}
.blue-line-subtopC{
    height: 20px;
    background-color: #6205b9;
    top: 1280px;
    left: 100px;
    width: 84%;
    position: absolute;
    z-index: 1000;
}
.blue-line-subtopD{
      height: 1120px;  
      width: 20px;
      background-color: #6205b9;
      position: absolute; 
      top: 180px;
      left: 1097px;
      z-index: 1000;
    }
      /* Lineas horizontales */
.blue-line-subtopA-1{
      height: 20px;
      background-color: #6205b9;
      top: 550px;
      left: 160px;
      width: 76%;
      position: absolute;
      z-index: 1000;
}
.blue-line-subtopA-2{
      height: 20px;
      background-color: #6205b9;
      top: 771px;
      left: 160px;
      width: 76%;
      position: absolute;
      z-index: 1000;
}
.blue-line-subtopA-3{
    height: 20px;
    background-color: #6205b9;
    top: 992px;
    left: 160px;
    width: 76%;
    position: absolute;
    z-index: 1000;
}
.blue-line-subtopA-4{
    height: 20px;
    background-color: #6205b9;
    top: 1210px;
    left: 155px;
    width: 76%;
    position: absolute;
    z-index: 1000;
}
       /* Lineas verticales */
.blue-line-subtopB-1{
      height: 1120px;  
      width: 20px;
      background-color: #6205b9;
      position: absolute; 
      top: 330px;
      left: 784px;
      z-index: 1000;
}
      /* Contenido (Todo) */
.tecnicasMDEM-todo{
    display: flex;
    align-items: flex-start;
    justify-content: center; 
    position: relative
    
}
      /* Contenido Izquierda (Texto) */
.tecnicasMDEM-left{
    flex-direction: column; 
    justify-content: flex-start;
}
      /* Contenido Derecha (Imagenes) */
.tecnicasMDEM-right{
    flex-direction: column; 
    justify-content: flex-start;
}
      /* Info de Tecnicas */
.barrerasimple{
    transform: translateX(118px) translateY(90px);
}
.barrerasimple p{
    transform: translateX(0px) translateY(5px);
    width: 590px;
}
.barrerasimple h4{
    transform: translateX(0px) translateY(10px);
}
.cortina{
    transform: translateX(118px) translateY(186px);
}
.cortina p{
    transform: translateX(0px) translateY(5px);
    width: 590px;
}
.cortina h4{
    transform: translateX(0px) translateY(10px);
}
.barreravacia{
    transform: translateX(118px) translateY(303px);
}
.barreravacia p{
    transform: translateX(0px) translateY(5px);
    width: 590px;
}
.barreravacia h4{
    transform: translateX(0px) translateY(10px);
}
.barrerapura{
    transform: translateX(118px) translateY(400px);
}
.barrerapura p{
    transform: translateX(0px) translateY(2px);
    flex-basis: auto;
    width: 590px;
}
.barrerapura h4{
    transform: translateX(0px) translateY(7px);
}
.barrerabon{
    transform: translateX(118px) translateY(474px);
}
.barrerabon p{
    transform: translateX(0px) translateY(2px);
    flex-basis: auto;
    width: 590px;
}
.barrerabon h4{
    transform: translateX(0px) translateY(8px);
}
      /* Info de Tecnicas (Usuarios) */
.usuariosBARR1{
    transform: translateX(118px) translateY(104px);
}
.usuariosBARR2{
    transform: translateX(118px) translateY(201px);
}
.usuariosBARR3{
    transform: translateX(118px) translateY(318px);
}
.usuariosBARR4{
    transform: translateX(118px) translateY(412px);
    width: 590px;
}
.usuariosBARR5{
    transform: translateX(118px) translateY(487px);
    width: 590px;
}
