
/* Contenido de toda la pagina */

.infomaitodo{
    height: 2243px;
    margin: 0 auto;  
    padding: 0;
    overflow: hidden;
}

/* Todas las Lineas de "Informacion General" */

.infomailineastodo{
    position: relative;   
      width: 100%;
      overflow: visible; 
      transform: translateY(-25px);
}

/* Lineas por separado de "Informacion General" */

.maiblue-lineA{
    height: 65px;
    background-color: #6205b9;
    position: absolute;
    top: 160px;
    left: 0px;
    width: 100%; 
    z-index: 1000;
    display: flex;
    align-items: center; 
    justify-content: center;
    color: white; 
}
.maiblue-lineC{
  height: 65px;
  background-color: #6205b9;
  top: 544px;
  left: 0px;
  width: 100%;
  position: absolute;
  z-index: 1000;
}
.maiblue-linemini1{
    height: 15px;
    background-color: #6205b9;
    top: 490px;
    left: 70px;
    width: 29.5%;
    position: absolute;
    z-index: 1000;
}
.maiblue-linemini2{
    height: 15px;
    background-color: #6205b9;
    top: 264px;
    left: 70px;
    width: 29.5%;
    position: absolute;
    z-index: 1000;
}
.maiblue-linemini3{
    height: 241px;
    background-color: #6205b9;
    top: 264px;
    left: 55px;
    width: 15px;
    position: absolute;
    z-index: 1000;
}
.maiblue-linemini4{
    height: 241px;
    background-color: #6205b9;
    top: 264px;
    left: 466px;
    width: 15px;
    position: absolute;
    z-index: 1000;
}
.maiblue-linemini5{
    height: 39px;
    background-color: #6205b9;
    top: 505px;
    left: 261px;
    width: 15px;
    position: absolute;
    z-index: 1000;
}
.maiblue-linemini6{
    height: 39px;
    background-color: #6205b9;
    top: 225px;
    left: 261px;
    width: 15px;
    position: absolute;
    z-index: 1000;
}
.maiblue-linemini7{
    height: 319px;
    background-color: #6205b9;
    top: 225px;
    left: 1273px;
    width: 15px;
    position: absolute;
    z-index: 1000;
}
.maiblue-linemini8{
    height: 319px;
    background-color: #6205b9;
    top: 225px;
    left: 1038px;
    width: 15px;
    position: absolute;
    z-index: 1000;
}

/* Titulo de "Informacion General" */

.mailineastitulo{
    font-size: 40px;
    font-weight: 500;
}

/* Contenido de "Informacion General" */

/* Imagenes de "Informacion General" */

.infomai{
    width: 396px;
    height: 211px;
    transform: translateX(70px) translateY(254px);
}
.maiactual{
    width: 172px;
    height: 256px;
    transform: translateX(1077px) translateY(-251px);   
}
.maiprincipio{
    width: 172px;
    height: 256px;
    transform: translateX(1077px) translateY(-251px);
}

/* Datos de "Informacion General" */

.mainombre{
    transform: translateX(523px) translateY(44px);
    font-weight: 400;
    font-size: large;
}
.maiedad{
    transform: translateX(523px) translateY(77px);
    font-weight: 400;
    font-size: large;
}
.maigenero{
    transform: translateX(718px) translateY(54px);
    font-weight: 400;
    font-size: large;
}
.maiespecie{
    transform: translateX(523px) translateY(96px);
    font-weight: 400;
    font-size: large;
}
.maiocupacion{
    transform: translateX(718px) translateY(73px);
    font-weight: 400;
    font-size: large;
}
.maidebut{
    transform: translateX(523px) translateY(106px);
    font-weight: 400;
    font-size: large;
}
.maiestado1{
    transform: translateX(810px) translateY(83px);
    font-weight: 400;
    font-size: large;
}
.maiestado2{
    transform: translateX(880px) translateY(60px);
    font-weight: 400;
    font-size: large;
}
.maiestado3{
    transform: translateX(880px) translateY(60px);
    font-weight: 400;
    font-size: large;
}

/* Datos comparativos del personaje de "Informacion General" */

.maiestado{
    transform: translateX(1073px) translateY(84px);
    font-weight: 400;
    font-size: large;
}
.maiestadover{
    transform: translateX(1141px) translateY(61px);
    font-weight: 400;
    font-size: large;
    width: 0%;
    color: rgb(42, 114, 209); 
    text-decoration: underline;
    cursor: pointer;
}
.maiestadopricipio{
    transform: translateX(1180px) translateY(40px);
    font-weight: 500;
}
.maiestadoactual{
    transform: translateX(1186px) translateY(40px);
    font-weight: 500;
}
.hidden {
    display: none;
}

/* Contenido total de "Informacion Expandida" */

.maiinformacionexpandida{
    margin-left: 70px;
    margin-right: 70px;
}

/* Descripcion de "Informacion Expandida" */

.maidescripcion{
    margin-top: -93px;
    text-align: justify;   
}
.maidescripcion p{
    font-size: 19px;
    transform: translateY(5px);
}

/* Apariencia y Personalidad de "Informacion Expandida" */

.maiap_per{
    transform: translateY(32px);
    text-align: justify;   
}
.maiap_per p{
    font-size: 19px;
}
.maiapariencia{
    transform: translateY(5px);
}
.maipersonalidad{
    transform: translateY(25px);
}

/* Habilidades y Poderes de "Informacion Expandida" */

.maihab_pod{
    transform: translateY(85px);
    text-align: justify;   
}
.maihab_pod p{
    font-size: 19px;
}
.maioverall{
    transform: translateY(5px);
}

/* Imagen de Habilidades y Poderes de "Informacion Expandida" */

.maiinfoimagen1{
    width: 370px;
    border-radius: 10px;
    transform: translateX(188px) translateY(29px);
}

.maiinfoimagen2{
    width: 370px;
    border-radius: 10px;
    transform: translateX(277px) translateY(29px);
}

/* Subtitulo para tecnicas de "Informacion Expandida" */

.maihab_pod h2{
    transform: translateY(62px);
}

/* Lineas laterales de Tecnicas de MDEM de "Informacion Expandida" */

.mailineas{
    position: relative;   
      width: 100%;
      overflow: visible; 
      transform: translateY(-71px);
}

/* Lineas interiores de Tecnicas de MDEM de "Informacion Expandida" */

.maisublineas{
    transform: translateX(-55px) translateY(-191px);
}

/* Lineas laterales de Tecnicas Innatas de "Informacion Expandida" */

.mailineas2{
    position: relative;   
      width: 100%;
      overflow: visible; 
      transform: translateY(248px);
}

/* Lineas interiores de Tecnicas Innatas de "Informacion Expandida" */

.maisublineas2{
    transform: translateX(-55px) translateY(128px);
}

/* Lineas laterales por separado de Tecnicas de MDEM de "Informacion Expandida" */

.maiblue-line-subtopA{
    height: 50px;
    background-color: #6205b9;
    position: absolute;
    top: 180px;
    left: 88px;
    width: 85%; 
    z-index: 1000;
    display: flex;
    align-items: center; 
    justify-content: center;
    color: white; 
}
.maiblue-line-subtopB{
    height: 270px;
    width: 20px;
    background-color: #6205b9;
    position: absolute; 
    top: 180px;
    left: 85px;
    z-index: 1000;
}
.maiblue-line-subtopC{
    height: 20px;
    background-color: #6205b9;
    top: 430px;
    left: 100px;
    width: 84%;
    position: absolute;
    z-index: 1000;
}
.maiblue-line-subtopD{
    height: 270px;  
    width: 20px;
    background-color: #6205b9;
    position: absolute; 
    top: 180px;
    left: 1097px;
    z-index: 1000;
}

/* Lineas interiores por separado de Tecnicas de MDEM de "Informacion Expandida" */

.maiblue-line-subtopB-1{
    height: 220px;  
    width: 20px;
    background-color: #6205b9;
    position: absolute; 
    top: 350px;
    left: 769px;
    z-index: 1000;
}

/* Lineas laterales por separado de Tecnicas Innatas de "Informacion Expandida" */

.maiblue-line-subtopB2{
    height: 270px;
    width: 20px;
    background-color: #6205b9;
    position: absolute; 
    top: 180px;
    left: 85px;
    z-index: 1000;
}
.maiblue-line-subtopC2{
    height: 20px;
    background-color: #6205b9;
    top: 430px;
    left: 100px;
    width: 84%;
    position: absolute;
    z-index: 1000;
}
.maiblue-line-subtopD2{
    height: 270px;  
    width: 20px;
    background-color: #6205b9;
    position: absolute; 
    top: 180px;
    left: 1097px;
    z-index: 1000;
}

/* Lineas interiores por separado de Tecnicas Innatas de "Informacion Expandida" */

.maiblue-line-subtopB2-1{
    height: 220px;  
    width: 20px;
    background-color: #6205b9;
    position: absolute; 
    top: 350px;
    left: 769px;
    z-index: 1000;
}

/* Subtitulos de cada apartado de tecnica de "Informacion Expandida" */

.mailineassubtitulo{
    font-size: 25px;
    font-weight: 500;
}
.mailineassubtitulo2{
    font-size: 25px;
    font-weight: 500;
}

/* Informacion Tecnicas de MDEM de "Informacion Expandida" */

.maiinfo-todo{
    display: flex;
    align-items: flex-start;
    justify-content: center; 
    position: relative;
    transform: translateX(-160px) translateY(179px)
}

/* Contenido Izquierda (Texto) */

.maiinfo-left{
    flex-direction: column; 
    justify-content: flex-start;
}

/* Contenido Derecha (Imagenes) */

.maiinfo-right{
    flex-direction: column; 
    justify-content: flex-start;
    transform: translateX(0.5px) translateY(-0.5px)
}

/* Informacion Tecnicas Innatas de "Informacion Expandida" */

.maiinfo-todo2{
    display: flex;
    align-items: flex-start;
    justify-content: center; 
    position: relative;
    transform: translateX(-160px) translateY(-54px);
}
      
/* Contenido Izquierda (Texto) */

.maiinfo-left2{
    flex-direction: column; 
    justify-content: flex-start;
    transform: translateY(379px);
}

/* Contenido Derecha (Imagenes) */

.maiinfo-right2{
    flex-direction: column; 
    justify-content: flex-start;
    transform: translateX(0.5px) translateY(380px);
}

/* Imagenes de tecnicas de "Informacion Expandida" */

.maitecnicas1{      
    width: 300px;
    transform: translateX(183px) translateY(81px);
}
.maitecnicas2{     
    width: 300px;
    transform: translateX(-117px) translateY(301px);
}
.maitecnicas3{      
    width: 300px;
    transform: translateX(183px) translateY(349px);
}
.maitecnicas4{     
    width: 300px; 
    transform: translateX(-117px) translateY(570px);
}

/* Informaciones de tecnicas de "Informacion Expandida" */

.maicantidadenergia{
    transform: translateX(118px) translateY(80px);
}
.maicantidadenergia p{
    transform: translateX(0px) translateY(5px);
    width: 583px;
    text-align: justify;
}


.maiconstruccion{
    transform: translateX(118px) translateY(80px);
}
.maiconstruccion p{
    transform: translateX(0px) translateY(5px);
    width: 583px;
    text-align: justify;
}
