
/* Contenido de toda la pagina */

.infomiwatodo{
    height: 2440px;
    margin: 0 auto;  
    padding: 0;
    overflow: hidden;
}

/* Todas las Lineas de "Informacion General" */

.infomiwalineastodo{
    position: relative;   
      width: 100%;
      overflow: visible; 
      transform: translateY(-25px);
}

/* Lineas por separado de "Informacion General" */

.miwablue-lineA{
    height: 65px;
    background-color: #6205b9;
    position: absolute;
    top: 160px;
    left: 0px;
    width: 100%; 
    z-index: 1000;
    display: flex;
    align-items: center; 
    justify-content: center;
    color: white; 
}
.miwablue-lineC{
  height: 65px;
  background-color: #6205b9;
  top: 544px;
  left: 0px;
  width: 100%;
  position: absolute;
  z-index: 1000;
}
.miwablue-linemini1{
    height: 15px;
    background-color: #6205b9;
    top: 490px;
    left: 70px;
    width: 29.5%;
    position: absolute;
    z-index: 1000;
}
.miwablue-linemini2{
    height: 15px;
    background-color: #6205b9;
    top: 264px;
    left: 70px;
    width: 29.5%;
    position: absolute;
    z-index: 1000;
}
.miwablue-linemini3{
    height: 241px;
    background-color: #6205b9;
    top: 264px;
    left: 55px;
    width: 15px;
    position: absolute;
    z-index: 1000;
}
.miwablue-linemini4{
    height: 241px;
    background-color: #6205b9;
    top: 264px;
    left: 466px;
    width: 15px;
    position: absolute;
    z-index: 1000;
}
.miwablue-linemini5{
    height: 39px;
    background-color: #6205b9;
    top: 505px;
    left: 261px;
    width: 15px;
    position: absolute;
    z-index: 1000;
}
.miwablue-linemini6{
    height: 39px;
    background-color: #6205b9;
    top: 225px;
    left: 261px;
    width: 15px;
    position: absolute;
    z-index: 1000;
}
.miwablue-linemini7{
    height: 319px;
    background-color: #6205b9;
    top: 225px;
    left: 1273px;
    width: 15px;
    position: absolute;
    z-index: 1000;
}
.miwablue-linemini8{
    height: 319px;
    background-color: #6205b9;
    top: 225px;
    left: 1038px;
    width: 15px;
    position: absolute;
    z-index: 1000;
}

/* Titulo de "Informacion General" */

.miwalineastitulo{
    font-size: 40px;
    font-weight: 500;
}

/* Contenido de "Informacion General" */

/* Imagenes de "Informacion General" */

.infomiwa{
    width: 396px;
    height: 211px;
    transform: translateX(70px) translateY(254px);
}
.miwaactual{
    width: 172px;
    height: 256px;
    transform: translateX(1077px) translateY(-251px);   
}
.miwaprincipio{
    width: 172px;
    height: 256px;
    transform: translateX(1077px) translateY(-251px);
}

/* Datos de "Informacion General" */

.miwanombre{
    transform: translateX(523px) translateY(44px);
    font-weight: 400;
    font-size: large;
}
.miwaedad{
    transform: translateX(523px) translateY(77px);
    font-weight: 400;
    font-size: large;
}
.miwagenero{
    transform: translateX(718px) translateY(54px);
    font-weight: 400;
    font-size: large;
}
.miwaespecie{
    transform: translateX(523px) translateY(96px);
    font-weight: 400;
    font-size: large;
}
.miwaocupacion{
    transform: translateX(718px) translateY(73px);
    font-weight: 400;
    font-size: large;
}
.miwadebut{
    transform: translateX(523px) translateY(106px);
    font-weight: 400;
    font-size: large;
}
.miwaestado1{
    transform: translateX(810px) translateY(83px);
    font-weight: 400;
    font-size: large;
}
.miwaestado2{
    transform: translateX(880px) translateY(60px);
    font-weight: 400;
    font-size: large;
}
.miwaestado3{
    transform: translateX(880px) translateY(60px);
    font-weight: 400;
    font-size: large;
}

/* Datos comparativos del personaje de "Informacion General" */

.miwaestado{
    transform: translateX(1073px) translateY(84px);
    font-weight: 400;
    font-size: large;
}
.miwaestadover{
    transform: translateX(1141px) translateY(61px);
    font-weight: 400;
    font-size: large;
    width: 0%;
    color: rgb(42, 114, 209); 
    text-decoration: underline;
    cursor: pointer;
}
.miwaestadopricipio{
    transform: translateX(1180px) translateY(40px);
    font-weight: 500;
}
.miwaestadoactual{
    transform: translateX(1186px) translateY(40px);
    font-weight: 500;
}
.hidden {
    display: none;
}

/* Contenido total de "Informacion Expandida" */

.miwainformacionexpandida{
    margin-left: 70px;
    margin-right: 70px;
}

/* Descripcion de "Informacion Expandida" */

.miwadescripcion{
    margin-top: -93px;
    text-align: justify;   
}
.miwadescripcion p{
    font-size: 19px;
    transform: translateY(5px);
}

/* Apariencia y Personalidad de "Informacion Expandida" */

.miwaap_per{
    transform: translateY(32px);
    text-align: justify;   
}
.miwaap_per p{
    font-size: 19px;
}
.miwaapariencia{
    transform: translateY(5px);
}
.miwapersonalidad{
    transform: translateY(25px);
}

/* Habilidades y Poderes de "Informacion Expandida" */

.miwahab_pod{
    transform: translateY(85px);
    text-align: justify;   
}
.miwahab_pod p{
    font-size: 19px;
}
.miwaoverall{
    transform: translateY(5px);
}

/* Imagen de Habilidades y Poderes de "Informacion Expandida" */

.miwainfoimagen1{
    width: 370px;
    border-radius: 10px;
    transform: translateX(188px) translateY(29px);
}

.miwainfoimagen2{
    width: 370px;
    border-radius: 10px;
    transform: translateX(277px) translateY(29px);
}

/* Subtitulo para tecnicas de "Informacion Expandida" */

.miwahab_pod h2{
    transform: translateY(62px);
}

/* Lineas laterales de Tecnicas de MDEM de "Informacion Expandida" */

.miwalineas{
    position: relative;   
      width: 100%;
      overflow: visible; 
      transform: translateY(-71px);
}

/* Lineas interiores de Tecnicas de MDEM de "Informacion Expandida" */

.miwasublineas{
    transform: translateX(-55px) translateY(-191px);
}

/* Lineas laterales de Tecnicas Nuevo Estilo Sombrio de "Informacion Expandida" */

.miwalineas2{
    position: relative;   
      width: 100%;
      overflow: visible; 
      transform: translateY(248px);
}

/* Lineas interiores de Tecnicas Innatas de "Informacion Expandida" */

.miwasublineas2{
    transform: translateX(-55px) translateY(128px);
}

/* Lineas laterales de Tecnicas Antidominio de "Informacion Expandida" */

.miwalineas3{
    position: relative;   
      width: 100%;
      overflow: visible; 
      transform: translateY(566px);
}

/* Lineas interiores de Tecnicas Antidominio de "Informacion Expandida" */

.miwasublineas3{
    transform: translateX(-55px) translateY(446px);
}

/* Lineas laterales por separado de Tecnicas de MDEM de "Informacion Expandida" */

.miwablue-line-subtopA{
    height: 50px;
    background-color: #6205b9;
    position: absolute;
    top: 180px;
    left: 88px;
    width: 85%; 
    z-index: 1000;
    display: flex;
    align-items: center; 
    justify-content: center;
    color: white; 
}
.miwablue-line-subtopB{
    height: 270px;
    width: 20px;
    background-color: #6205b9;
    position: absolute; 
    top: 180px;
    left: 85px;
    z-index: 1000;
}
.miwablue-line-subtopC{
    height: 20px;
    background-color: #6205b9;
    top: 430px;
    left: 100px;
    width: 84%;
    position: absolute;
    z-index: 1000;
}
.miwablue-line-subtopD{
    height: 270px;  
    width: 20px;
    background-color: #6205b9;
    position: absolute; 
    top: 180px;
    left: 1097px;
    z-index: 1000;
}

/* Lineas interiores por separado de Tecnicas de MDEM de "Informacion Expandida" */

.miwablue-line-subtopB-1{
    height: 220px;  
    width: 20px;
    background-color: #6205b9;
    position: absolute; 
    top: 350px;
    left: 769px;
    z-index: 1000;
}

/* Lineas laterales por separado de Tecnicas Nuevo Estilo Sombrio de "Informacion Expandida" */

.miwablue-line-subtopB2{
    height: 270px;
    width: 20px;
    background-color: #6205b9;
    position: absolute; 
    top: 180px;
    left: 85px;
    z-index: 1000;
}
.miwablue-line-subtopC2{
    height: 20px;
    background-color: #6205b9;
    top: 430px;
    left: 100px;
    width: 84%;
    position: absolute;
    z-index: 1000;
}
.miwablue-line-subtopD2{
    height: 270px;  
    width: 20px;
    background-color: #6205b9;
    position: absolute; 
    top: 180px;
    left: 1097px;
    z-index: 1000;
}

/* Lineas interiores por separado de Tecnicas Innatas de "Informacion Expandida" */

.miwablue-line-subtopB2-1{
    height: 220px;  
    width: 20px;
    background-color: #6205b9;
    position: absolute; 
    top: 350px;
    left: 769px;
    z-index: 1000;
}

/* Lineas laterales por separado de Tecnicas Antidominio de "Informacion Expandida" */

.miwablue-line-subtopB3{
    height: 270px;
    width: 20px;
    background-color: #6205b9;
    position: absolute; 
    top: 180px;
    left: 85px;
    z-index: 1000;
}
  .miwablue-line-subtopC3{
    height: 20px;
    background-color: #6205b9;
    top: 430px;
    left: 100px;
    width: 84%;
    position: absolute;
    z-index: 1000;
}
.miwablue-line-subtopD3{
    height: 270px;  
    width: 20px;
    background-color: #6205b9;
    position: absolute; 
    top: 180px;
    left: 1097px;
    z-index: 1000;
}

/* Lineas interiores por separado de Tecnicas Antidominio de "Informacion Expandida" */

.miwablue-line-subtopB3-1{
    height: 220px;  
    width: 20px;
    background-color: #6205b9;
    position: absolute; 
    top: 350px;
    left: 769px;
    z-index: 1000;
}

/* Subtitulos de cada apartado de tecnica de "Informacion Expandida" */

.miwalineassubtitulo{
    font-size: 25px;
    font-weight: 500;
}
.miwalineassubtitulo2{
    font-size: 25px;
    font-weight: 500;
}

/* Informacion Tecnicas de MDEM de "Informacion Expandida" */

.miwainfo-todo{
    display: flex;
    align-items: flex-start;
    justify-content: center; 
    position: relative;
    transform: translateX(-160px) translateY(179px)
}

/* Contenido Izquierda (Texto) */

.miwainfo-left{
    flex-direction: column; 
    justify-content: flex-start;
}

/* Contenido Derecha (Imagenes) */

.miwainfo-right{
    flex-direction: column; 
    justify-content: flex-start;
    transform: translateX(0.5px);
}

/* Informacion Tecnicas Nuevo Estilo Sombrio de "Informacion Expandida" */

.miwainfo-todo2{
    display: flex;
    align-items: flex-start;
    justify-content: center; 
    position: relative;
    transform: translateX(-160px) translateY(-53px);
}
      
/* Contenido Izquierda (Texto) */

.miwainfo-left2{
    flex-direction: column; 
    justify-content: flex-start;
    transform: translateY(379px);
}

/* Contenido Derecha (Imagenes) */

.miwainfo-right2{
    flex-direction: column; 
    justify-content: flex-start;
    transform: translateX(0.5px) translateY(379px);
}

/* Informacion Tecnicas Antidominio de "Informacion Expandida" */

.miwainfo-todo3{
    display: flex;
    align-items: flex-start;
    justify-content: center; 
    position: relative;
    transform: translateX(-160px) translateY(91px);   
}
      
/* Contenido Izquierda (Texto) */

.miwainfo-left3{
    flex-direction: column; 
    justify-content: flex-start;
    transform: translateX(-1px) translateY(147px);
}
     
/* Contenido Derecha (Imagenes) */

.miwainfo-right3{
    flex-direction: column; 
    justify-content: flex-start;
    transform: translateX(0.5px) translateY(379px);
}

/* Imagenes de tecnicas de "Informacion Expandida" */

.miwatecnicas1{      
    width: 300px;
    transform: translateX(183px) translateY(81px);
}
.miwatecnicas2{     
    width: 300px;
    transform: translateX(-117px) translateY(301px);
}
.miwatecnicas3{      
    width: 300px;
    transform: translateX(183px) translateY(349px);
}
.miwatecnicas4{     
    width: 300px; 
    transform: translateX(-117px) translateY(570px);
}

/* Informaciones de tecnicas de "Informacion Expandida" */

.miwacantidadenergia{
    transform: translateX(118px) translateY(80px);
}
.miwacantidadenergia p{
    transform: translateX(0px) translateY(5px);
    width: 583px;
    text-align: justify;
}


.miwadesenvaine{
    transform: translateX(118px) translateY(80px);
}
.miwadesenvaine p{
    transform: translateX(0px) translateY(5px);
    width: 583px;
    text-align: justify;
}


.miwadominiosimple{
    transform: translateX(118px) translateY(312px);
}
.miwadominiosimple p{
    transform: translateX(0px) translateY(5px);
    flex-basis: auto;
    width: 583px;
    text-align: justify;
}
