
/* Contenido de toda la pagina */

.infotodotodo{
    height: 3014px;
    margin: 0 auto;  
    padding: 0;
    overflow: hidden;
}

/* Todas las Lineas de "Informacion General" */

.infotodolineastodo{
    position: relative;   
      width: 100%;
      overflow: visible; 
      transform: translateY(-25px);
}

/* Lineas por separado de "Informacion General" */

.todoblue-lineA{
    height: 65px;
    background-color: #6205b9;
    position: absolute;
    top: 160px;
    left: 0px;
    width: 100%; 
    z-index: 1000;
    display: flex;
    align-items: center; 
    justify-content: center;
    color: white; 
}
.todoblue-lineC{
  height: 65px;
  background-color: #6205b9;
  top: 544px;
  left: 0px;
  width: 100%;
  position: absolute;
  z-index: 1000;
}
.todoblue-linemini1{
    height: 15px;
    background-color: #6205b9;
    top: 490px;
    left: 70px;
    width: 29.5%;
    position: absolute;
    z-index: 1000;
}
.todoblue-linemini2{
    height: 15px;
    background-color: #6205b9;
    top: 264px;
    left: 70px;
    width: 29.5%;
    position: absolute;
    z-index: 1000;
}
.todoblue-linemini3{
    height: 241px;
    background-color: #6205b9;
    top: 264px;
    left: 55px;
    width: 15px;
    position: absolute;
    z-index: 1000;
}
.todoblue-linemini4{
    height: 241px;
    background-color: #6205b9;
    top: 264px;
    left: 466px;
    width: 15px;
    position: absolute;
    z-index: 1000;
}
.todoblue-linemini5{
    height: 39px;
    background-color: #6205b9;
    top: 505px;
    left: 261px;
    width: 15px;
    position: absolute;
    z-index: 1000;
}
.todoblue-linemini6{
    height: 39px;
    background-color: #6205b9;
    top: 225px;
    left: 261px;
    width: 15px;
    position: absolute;
    z-index: 1000;
}
.todoblue-linemini7{
    height: 319px;
    background-color: #6205b9;
    top: 225px;
    left: 1273px;
    width: 15px;
    position: absolute;
    z-index: 1000;
}
.todoblue-linemini8{
    height: 319px;
    background-color: #6205b9;
    top: 225px;
    left: 1038px;
    width: 15px;
    position: absolute;
    z-index: 1000;
}

/* Titulo de "Informacion General" */

.todolineastitulo{
    font-size: 40px;
    font-weight: 500;
}

/* Contenido de "Informacion General" */

/* Imagenes de "Informacion General" */

.infotodo{
    width: 396px;
    height: 211px;
    transform: translateX(70px) translateY(254px);
}
.todoactual{
    width: 172px;
    height: 256px;
    transform: translateX(1077px) translateY(-251px);   
}
.todoprincipio{
    width: 172px;
    height: 256px;
    transform: translateX(1077px) translateY(-251px);
}

/* Datos de "Informacion General" */

.todonombre{
    transform: translateX(523px) translateY(44px);
    font-weight: 400;
    font-size: large;
}
.todoedad{
    transform: translateX(523px) translateY(77px);
    font-weight: 400;
    font-size: large;
}
.todogenero{
    transform: translateX(718px) translateY(54px);
    font-weight: 400;
    font-size: large;
}
.todoespecie{
    transform: translateX(523px) translateY(96px);
    font-weight: 400;
    font-size: large;
}
.todoocupacion{
    transform: translateX(718px) translateY(73px);
    font-weight: 400;
    font-size: large;
}
.tododebut{
    transform: translateX(523px) translateY(106px);
    font-weight: 400;
    font-size: large;
}
.todoestado1{
    transform: translateX(810px) translateY(83px);
    font-weight: 400;
    font-size: large;
}
.todoestado2{
    transform: translateX(880px) translateY(60px);
    font-weight: 400;
    font-size: large;
}
.todoestado3{
    transform: translateX(880px) translateY(60px);
    font-weight: 400;
    font-size: large;
}

/* Datos comparativos del personaje de "Informacion General" */

.todoestado{
    transform: translateX(1073px) translateY(84px);
    font-weight: 400;
    font-size: large;
}
.todoestadover{
    transform: translateX(1141px) translateY(61px);
    font-weight: 400;
    font-size: large;
    width: 0%;
    color: rgb(42, 114, 209); 
    text-decoration: underline;
    cursor: pointer;
}
.todoestadopricipio{
    transform: translateX(1180px) translateY(40px);
    font-weight: 500;
}
.todoestadoactual{
    transform: translateX(1186px) translateY(40px);
    font-weight: 500;
}
.hidden {
    display: none;
}

/* Contenido total de "Informacion Expandida" */

.todoinformacionexpandida{
    margin-left: 70px;
    margin-right: 70px;
}

/* Descripcion de "Informacion Expandida" */

.tododescripcion{
    margin-top: -93px;
    text-align: justify;   
}
.tododescripcion p{
    font-size: 19px;
    transform: translateY(5px);
}

/* Apariencia y Personalidad de "Informacion Expandida" */

.todoap_per{
    transform: translateY(32px);
    text-align: justify;   
}
.todoap_per p{
    font-size: 19px;
}
.todoapariencia{
    transform: translateY(5px);
}
.todopersonalidad{
    transform: translateY(25px);
}

/* Habilidades y Poderes de "Informacion Expandida" */

.todohab_pod{
    transform: translateY(85px);
    text-align: justify;   
}
.todohab_pod p{
    font-size: 19px;
}
.todofuerza{
    transform: translateY(5px);
}
.todovelocidadresistencia{
    width: 810px;
    transform: translateY(25px);
}
.todoskill{
    transform: translateY(45px);
    width: 810px;
}
.todoaprendiz{
    transform: translateY(65px);
}

/* Imagen de Habilidades y Poderes de "Informacion Expandida" */

.todohab_pod img{
    width: 370px;
    border-radius: 10px;
    transform: translateX(831px) translateY(-248px);
}

/* Subtitulo para tecnicas de "Informacion Expandida" */

.todohab_pod h2{
    transform: translateY(-115px);
}

/* Lineas laterales de Tecnicas de MDEM de "Informacion Expandida" */

.todolineas{
    position: relative;   
      width: 100%;
      overflow: visible; 
      transform: translateY(-250px);
}

/* Lineas interiores de Tecnicas de MDEM de "Informacion Expandida" */

.todosublineas{
    transform: translateX(-55px) translateY(-370px);
}

/* Lineas laterales de Tecnicas Innatas de "Informacion Expandida" */

.todolineas2{
    position: relative;   
      width: 100%;
      overflow: visible; 
      transform: translateY(288px);
}

/* Lineas interiores de Tecnicas Innatas de "Informacion Expandida" */

.todosublineas2{
    transform: translateX(-55px) translateY(168px);
}

/* Lineas laterales de Tecnicas Antidominio de "Informacion Expandida" */

.todolineas4{
    position: relative;   
      width: 100%;
      overflow: visible; 
      transform: translateY(828px);
}

/* Lineas interiores de Tecnicas Antidominio de "Informacion Expandida" */

.todosublineas4{
    transform: translateX(-55px) translateY(700px);
}

/* Lineas laterales por separado de Tecnicas de MDEM de "Informacion Expandida" */

.todoblue-line-subtopA{
    height: 50px;
    background-color: #6205b9;
    position: absolute;
    top: 180px;
    left: 88px;
    width: 85%; 
    z-index: 1000;
    display: flex;
    align-items: center; 
    justify-content: center;
    color: white; 
}
.todoblue-line-subtopB{
    height: 490px;
    width: 20px;
    background-color: #6205b9;
    position: absolute; 
    top: 180px;
    left: 85px;
    z-index: 1000;
}
.todoblue-line-subtopC{
    height: 20px;
    background-color: #6205b9;
    top: 650px;
    left: 100px;
    width: 84%;
    position: absolute;
    z-index: 1000;
}
.todoblue-line-subtopD{
    height: 490px;  
    width: 20px;
    background-color: #6205b9;
    position: absolute; 
    top: 180px;
    left: 1097px;
    z-index: 1000;
}

/* Lineas interiores por separado de Tecnicas de MDEM de "Informacion Expandida" */

.todoblue-line-subtopA-1{
    height: 20px;
    background-color: #6205b9;
    top: 550px;
    left: 160px;
    width: 83%;
    position: absolute;
    z-index: 1000;
}
.todoblue-line-subtopB-1{
    height: 440px;  
    width: 20px;
    background-color: #6205b9;
    position: absolute; 
    top: 350px;
    left: 769px;
    z-index: 1000;
}

/* Lineas laterales por separado de Tecnicas Innatas de "Informacion Expandida" */

.todoblue-line-subtopB2{
    height: 491px;
    width: 20px;
    background-color: #6205b9;
    position: absolute; 
    top: 180px;
    left: 85px;
    z-index: 1000;
}
.todoblue-line-subtopC2{
    height: 20px;
    background-color: #6205b9;
    top: 651px;
    left: 100px;
    width: 84%;
    position: absolute;
    z-index: 1000;
}
.todoblue-line-subtopD2{
    height: 491px;  
    width: 20px;
    background-color: #6205b9;
    position: absolute; 
    top: 180px;
    left: 1097px;
    z-index: 1000;
}

/* Lineas interiores por separado de Tecnicas Innatas de "Informacion Expandida" */

.todoblue-line-subtopB2-1{
    height: 441px;  
    width: 20px;
    background-color: #6205b9;
    position: absolute; 
    top: 350px;
    left: 769px;
    z-index: 1000;
}

/* Lineas laterales por separado de Tecnicas Antidominio de "Informacion Expandida" */

.todoblue-line-subtopB4{
    height: 270px;
    width: 20px;
    background-color: #6205b9;
    position: absolute; 
    top: 180px;
    left: 85px;
    z-index: 1000;
}
  .todoblue-line-subtopC4{
    height: 20px;
    background-color: #6205b9;
    top: 430px;
    left: 100px;
    width: 84%;
    position: absolute;
    z-index: 1000;
}
.todoblue-line-subtopD4{
    height: 270px;  
    width: 20px;
    background-color: #6205b9;
    position: absolute; 
    top: 180px;
    left: 1097px;
    z-index: 1000;
}

/* Lineas interiores por separado de Tecnicas Antidominio de "Informacion Expandida" */

.todoblue-line-subtopB4-1{
    height: 220px;  
    width: 20px;
    background-color: #6205b9;
    position: absolute; 
    top: 350px;
    left: 769px;
    z-index: 1000;
}

/* Subtitulos de cada apartado de tecnica de "Informacion Expandida" */

.todolineassubtitulo{
    font-size: 25px;
    font-weight: 500;
}
.todolineassubtitulo2{
    font-size: 25px;
    font-weight: 500;
}

/* Informacion Tecnicas de MDEM de "Informacion Expandida" */

.todoinfo-todo{
    display: flex;
    align-items: flex-start;
    justify-content: center; 
    position: relative;
    transform: translateX(-11px);
}

/* Contenido Izquierda (Texto) */

.todoinfo-left{
    flex-direction: column; 
    justify-content: flex-start;
}

/* Contenido Derecha (Imagenes) */

.todoinfo-right{
    flex-direction: column; 
    justify-content: flex-start;
    transform: translateX(0.5px);
}

/* Informacion Tecnicas Innatas de "Informacion Expandida" */

.todoinfo-todo2{
    display: flex;
    align-items: flex-start;
    justify-content: center; 
    position: relative;
    transform: translateX(-11px) translateY(-109px);
}
      
/* Contenido Izquierda (Texto) */

.todoinfo-left2{
    flex-direction: column; 
    justify-content: flex-start;
    transform: translateY(379px);
}

/* Contenido Derecha (Imagenes) */

.todoinfo-right2{
    flex-direction: column; 
    justify-content: flex-start;
    transform: translateX(0.5px) translateY(379px);
}

/* Informacion Tecnicas Antidominio de "Informacion Expandida" */

.todoinfo-todo4{
    display: flex;
    align-items: flex-start;
    justify-content: center; 
    position: relative;
    transform: translateX(-160px) translateY(163px);   
}
      
/* Contenido Izquierda (Texto) */

.todoinfo-left4{
    flex-direction: column; 
    justify-content: flex-start;
    transform: translateX(-1px) translateY(147px);
}
     
/* Contenido Derecha (Imagenes) */

.todoinfo-right4{
    flex-direction: column; 
    justify-content: flex-start;
    transform: translateX(0.5px) translateY(379px);
}

/* Imagenes de tecnicas de "Informacion Expandida" */

.todotecnicas1{      
    width: 300px;
    transform: translateX(183px) translateY(81px);
}
.todotecnicas2{     
    width: 300px;
    transform: translateX(-117px) translateY(301px);
}
.todotecnicas3{      
    width: 300px;
    transform: translateX(183px) translateY(349px);
}
.todotecnicas4{     
    width: 300px; 
    transform: translateX(-117px) translateY(570px);
}

/* Informaciones de tecnicas de "Informacion Expandida" */

.todocantidadenergia{
    transform: translateX(118px) translateY(80px);
}
.todocantidadenergia p{
    transform: translateX(0px) translateY(5px);
    width: 583px;
    text-align: justify;
}


.tododestellonegro{
    transform: translateX(118px) translateY(176px);
}
.tododestellonegro p{
    transform: translateX(0px) translateY(5px);
    width: 583px;
    text-align: justify;
}


.todoboogiewoogie{
    transform: translateX(118px) translateY(80px);
}
.todoboogiewoogie p{
    transform: translateX(0px) translateY(5px);
    width: 583px;
    text-align: justify;
}


.todoreboogiewoogie{
    transform: translateX(118px) translateY(136px);
}
.todoreboogiewoogie p{
    transform: translateX(0px) translateY(5px);
    width: 583px;
    text-align: justify;
}


.tododominiosimple{
    transform: translateX(118px) translateY(312px);
}
.tododominiosimple p{
    transform: translateX(0px) translateY(5px);
    flex-basis: auto;
    width: 583px;
    text-align: justify;
}
